.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7; /* Fondo gris claro */
}

.book-card {
  width: 80%;
  background-color: #ffaa00; /* Naranja */
  color: #333; /* Negro */
}

.book-info {
  padding: 80px;
  display: flex;
}

.book-image {
  background-color: antiquewhite;
  padding: 50px;
  border: 10px solid black;
  text-align: center;
}

.book-image img {
  width: 70%;
  height: 100%;
  object-fit: cover; /* Centra la imagen manteniendo la relaci칩n de aspecto */
  vertical-align: middle;
}

.book-details-card {
  flex: 2;
  width: 100%;
  padding: 20px;
}

.book-details-card mat-card-header {
  background-color: #333; /* Negro */
}

.book-details-card mat-card-title {
  color: #fff; /* Blanco */
  font-size: 24px; /* Tama침o de letra grande */
}

.book-details-card mat-card-content {
  color: #333; /* Negro */
}

/* Estilos para los p치rrafos dentro del mat-card-content */
.book-details-card mat-card-content p {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 30px; /* Tama침o de letra grande */
}
