<div class = "profile-information">
  <div class = "profile-info-content">
    <div class = "profile-picture">
      <img src="./assets/profilePicture.png" alt="Foto de perfil">
    </div>
    <a href="home/profile">
      <button class = "icon-button">
        <p>Guardar cambios</p>
      </button>

      <button class = "cancel-button">
        <p>Cancelar</p>
      </button>
    </a>
    <div class = "profile-text">
      <h2 class="personal-info">Edición de perfil</h2>
      <label class="mail">Correo</label>
      <label class="user">Usuario</label>
      <label class="description">Descripción</label>
      <label class="preferences">Preferencias literarias</label>
    </div>
    <div class = "bars">
      <input type="mail-bar" id="Correo" name="Correo" placeholder="david_Williams@hotmail.com"
             style="background-color: lightsalmon;">
      <input type="user-bar" id="Usuario" name="Usuario" placeholder="DavidW"
             style="background-color: lightsalmon;">
      <input type="description-bar" id="Descripción" name="Descripción" placeholder="Mi nombre es..."
             style="background-color: lightsalmon;">
      <input type="preferences-bar" id="Preferencias" name="Preferencias" placeholder="Terror, fantasía, ..."
             style="background-color: lightsalmon;">
    </div>
  </div>
</div>
