/* book-card.component.css */


/* Estilos para el contenedor */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para la tarjeta */
.book-card {
  margin: 35px; /* Margen entre tarjetas */
  width: 200px; /* Ancho de la tarjeta */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Hacer la sombra más notoria */
  transition: transform 0.3s ease; /* Agregar transición para el efecto de agrandamiento */
  background-color: #ffe3e3; /* Color de fondo nuevo */

}

/* Efecto de agrandamiento al seleccionar la tarjeta */
.book-card:hover {
  transform: scale(1.05); /* Agrandar la tarjeta */
  box-shadow: 0 12px 24px rgb(255, 19, 19); /* Hacer la sombra aún más notoria */
}

/* Estilos para la imagen de la tarjeta */
.book-card img {
  width: 100%; /* Ajustar la imagen al ancho de la tarjeta */
}

/* Estilos para el título de la tarjeta */
.mat-card-title {
  font-size: 1rem; /* Tamaño de fuente reducido */
  font-weight: bold; /* Negrita */
  margin-top: 5px; /* Margen superior reducido */
}


