
<div class = "comment-information">
  <div class = "comment-info-content">
    <div class = "comment-text">
      <h2 class="comment-info">Comentarios y reseñas</h2>
      <label class="book">Título</label>
      <label class="review">Comentario</label>
    </div>
    <div class = "bars">
      <input type="book-bar" id="Título" name="Título" placeholder="Escriba el nombre del libro o audiolibro ..."
             style="background-color: lightsalmon;">
      <input type="review-bar" id="Reseña" name="Reseña" placeholder="Escriba su comentario ..."
             style="background-color: lightsalmon;">
    </div>
    <button class = "icon-button" (click)="enviarMensaje()">
      <p>Enviar</p>
    </button>
  </div>
</div>

