<div class="container">
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h2>Register</h2>
    <div class="input-group">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" formControlName="firstname" required>
    </div>
    <div class="input-group">
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" formControlName="lastname" required>
    </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <button type="submit">Register</button>
  </form>
  <div class="login-link">
    <br>
    <p>¿Ya tienes una cuenta? <a [routerLink]="['/home/iniciosesion']">Inicia sesión aquí</a>.</p>
  </div>
</div>
