<h2 mat-dialog-title>Seleccionar Libro</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Buscar libros</mat-label>
    <input matInput (keyup)="filterBooks($event)" placeholder="Escribe para buscar libros">
  </mat-form-field>
  <div *ngFor="let book of books" class="book-item" (click)="selectBook(book)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ book.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="book.img" alt="{{ book.name }}">
      <mat-card-content>
        <p>{{ book.author }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="accent">Cancelar</button>
</mat-dialog-actions>
