<div class="container" aria-labelledby="Page">
  <mat-card class="book-card" role="article" aria-labelledby="book-title">
    <div class="book-info">
      <!-- Imagen del libro -->
      <div class="book-image">
        <img mat-card-image [src]="bookData.img" alt="Imagen del libro" role="img" aria-label="meal image">
      </div>
      <!-- Mini tarjeta para los datos del libro -->
      <mat-card class="book-details-card" role="article">
        <mat-card-header>
          <!-- Título del libro -->
          <mat-card-title role="heading" aria-level="2">{{bookData.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Descripción del libro -->
          <p role="article" aria-labelledby="book-description">{{bookData.description}}</p>
          <!-- Autor del libro -->
          <p role="article" aria-labelledby="book-author">Autor: {{bookData.author}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Botón para agregar comentario -->
    <div class="button">
      <button mat-raised-button color="primary" (click)="agregarComentario()">Agregar Comentario</button>
      <button mat-raised-button color="primary" (click)="recomendar()">Recomendar libro</button>
    </div>
  </mat-card>
</div>
