<div class="container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" required>
      <!-- Agregar el atributo formControlName y el FormGroup asociado -->
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" required>
      <!-- Agregar el atributo formControlName y el FormGroup asociado -->
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <!-- Deshabilitar el botón si el formulario es inválido -->
  </form>
  <div *ngIf="loginSuccess" class="success-message">
    ¡Inicio de sesión exitoso!
  </div>
  <div class="register-link">
    <br>
    <p>¿No tienes una cuenta? <a href="home/registro">Regístrate aquí</a>.</p>
  </div>
</div>
