<div class="container">
  <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
    <h2>Login</h2>
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" placeholder="username" id="username" name="username" required formControlName="username">
      <mat-error *ngIf="isInvalidControl(form, 'username')">{{ errorMessagesForControl(form, 'username')}}</mat-error>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" placeholder="password" id="password" name="password" required formControlName="password">
      <mat-error *ngIf="isInvalidControl(form, 'password')">{{ errorMessagesForControl(form, 'password')}}</mat-error>
    </div>
    <button mat-raised-button color="primary">Sign In</button>
  </form>
  <!--<div *ngIf="loginSuccess" class="success-message">
    ¡Inicio de sesión exitoso!
  </div>-->
  <div class="register-link">
    <br>
    <p>¿No tienes una cuenta? <a href="home/registro">Regístrate aquí</a>.</p>
  </div>
</div>
